<table class="table m-5">
  <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each students}}
    <tr>
        <td>{{ this._id }}</td>
        <td>
            <a href="../../admin/edit/{{ this._id }}">
                {{ this.name }}
            </a>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>
