.detail__img{
    width: 60%; 
    height: auto;
}

.image-hidden{
    overflow: hidden;
}

.image-hover{
    transition: all 0.5s;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: none;
    outline: none;
}

.wrap-image:hover .image-hover{
    transform: scale(1.05);
}

.table td, .table th{
    vertical-align: middle;
}

.product__create h4, 
.product__edit h4{
    text-transform: uppercase;
    border-bottom: 3px solid black;
}

.img-navtabs .img-tab{
    width: 100px;
    height: 150px;
}

.img-navtabs .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #FFF;
}

.img-navtabs .img-show{
    width: 400px;
    height: 600px;
}

.text-description{
    font-size: 14px;
}

.product-detail__description{
    height: 250px;   
    overflow: hidden;
}

.product-detail .text-sale{
    font-size: 20px;
}

.product-contact {
    background: #f3f2f2;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    color: #777;
}

.product-contact p:nth-child(1){
    font-weight: bold;
    font-size: 14px;
}

.product-contact p:nth-child(2){
    font-size: 14px;
}

.product-contact p:nth-child(3),
.product-contact p:nth-child(4),
.product-contact p:nth-child(5){
    font-size: 13px;
}

.shop-info{
    color: #777;
}

.shop-info .shop-info__pre{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shop-info .shop-info__pre li a{
    color: #777;
}

.shop-info .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #FFF;
    color: #777;
    font-weight: bold;
    border-bottom: 3px solid #000;
}

.shop-info .nav-pills .nav-link {
    border-radius: 0;
}

.shop-info__detail ul li{
    font-size: 14px;
    padding: 5px 0;
}

footer{
    background-color: #252525;
    color: #acacac;
    padding: 50px 50px 0 50px;
}

footer h6{
    color: #fff;
    margin-bottom: 47px;
}

footer p{
    margin: 7px 0;
    line-height: 30px;
}

.footer-name{
    font-size: 30px;
}

footer a{
    color: #acacac;
}

footer a:hover{
    text-decoration: none;
    color: #777;
}

.min-height{
    min-height: 800px;
}

.card-info{
    min-height: 178px;
    position: relative;
}

.card-info .card-cart{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.card-info .card-cost{
    position: absolute;
    bottom: 55px;
}

.header-seacrh{
    margin-right: 100px;
}

.header-seacrh input{
    width: 300px !important;
}

.header-cart{
    color: #28a745;
    margin-right: 50px;
}

.header-cart:hover{
    text-decoration: none;
    color: #777;
}

.product-detail form{
    width: 50%;
    margin-top: 20px;
}

.product-detail button{
    width: 97%;
}
