<footer>
    <div class="row">
        <div class="col-3">
            <img src="https://bucket.nhanh.vn/store/4902/store_1529314462_290.jpg" alt=""
                style="max-width:100%; height: auto; max-height: 50px;">
            <p class="mt-3">Được thành lập từ năm 2012, Lyra được biết đến là thương hiệu thời trang mang phong cách nữ tính, ngọt
                ngào, nắm bắt xu hướng nhanh chóng và đa dạng. Mỗi sản phẩm của Lyra đều hướng tới sự tiện dụng, tươi
                trẻ và giá thành cạnh tranh nhất! Bên cạnh chất lượng sản phẩm, Lyra luôn nỗ lực đem đến cho khách hàng
                trải nghiệm về 1 chất lượng dịch vụ tốt nhất. Lyra tin rằng, chăm chút cho từng sản phẩm, tận tâm trong
                từng dịch vụ là điều cốt lõi dành được tình cảm, sự tin tưởng trọn vẹn của khách hàng. Đó cũng là sứ
                mệnh mà chúng tôi đang hướng tới! Chúc bạn có những trải nghiệm mua sắm tuyệt vời cùng
                Lyrashop.vn!</p>
            <p>Công ty cổ phần thời trang Lyra. Trụ sở chính: Tầng 10, Lilama 10, 56 Tố Hữu, Phường Trung Văn, Quận Nam
                Từ Liêm, TP. Hà Nội. GPĐKKD: 0107846500 do sở Kế Hoạch và Đầu Tư TP. Hà Nội cấp ngày 15/05/2017. Điện
                thoại: 0987799123
            </p>
        </div>
        <div class="col-3">
            <h6>HỆ THỐNG SHOWROOM LYRA</h6>
            <p>174 Cầu Giấy</p>
            <p>229 Chùa Bộc</p>
            <p>24-26 Bạch Mai</p>
            <p>207 Cầu Giấy</p>
            <p>208A Nguyễn Trãi</p>
            <p>105 Hồ Tùng Mậu</p>
            <p>142 Chùa Láng</p>
            <p>Hotline: 0967 622 755</p>
            <p>Phản hồi chất lượng: 094 987 6016</p>
        </div>
        <div class="col-3">
            <h6>HƯỚNG DẪN</h6>
            <p><a href="/">Trang chủ</a></p>
            <p><a href="#">Xu hướng</a></p>
            <p><a href="#">Tin tức</a></p>
            <p><a href="#">Sản phẩm</a></p>
            <p><a href="#">Khuyến mãi</a></p>
            <p><a href="#">Chính sách đại lý và nhượng quyền</a></p>
        </div>
        <div class="col-3">
            <h6>THEO DÕI CHÚNG TÔI</h6>
            <div class="fb-page" data-href="https://www.facebook.com/lyrashop105/" data-tabs="" data-width=""
                data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/lyrashop105/" class="fb-xfbml-parse-ignore"><a
                        href="https://www.facebook.com/lyrashop105/">Lyra shop</a></blockquote>
            </div>
        </div>
    </div>
</footer>